@model IEnumerable<AppMvc.Models.Aluno>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(linkText:"Create New",
                     actionName: "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(expression: model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.DataMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(expression: model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(expression: modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(expression: modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(expression: modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(expression: modelItem => item.DataMatricula)
        </td>
        <td>
            @Html.DisplayFor(expression: modelItem => item.Ativo)
        </td>
        <td>

            @Html.ActionLink(linkText: "Edit",
                             actionName: "Edit",
                             routeValues: new { id = item.Id }) |

            @Html.ActionLink(linkText: "Details",
                             actionName: "Details",
                             routeValues: new { id = item.Id }) |

            @Html.ActionLink(linkText: "Delete",
                             actionName: "Delete",
                             routeValues: new { id = item.Id })
        </td>
    </tr>
}

</table>
